<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 
  <h1>
 Welcome to ANGULAR                                                                                                                                                                                                                                                                                                                                                                                                                                                  
  </h1> 
 <h4>{{name}} is learning Angular Js</h4>
 
 <h3>num1<input type="text" name=num1></h3>
 <h3>num2<input type="text" name=num2></h3>
 <h4>Number Addition<input type="text"></h4>

<h4>Current Date</h4>
{{displayDate()}}

<h3>shop</h3>
<a routerLink="/catalogue">Catalog</a>
<a routerLink="/products">Products</a>
<a routerLink="/todo">Task</a>
<a routerLink="/remote">Remotecall</a>
<router-outlet></router-outlet>
</div> 

